<h1 mat-dialog-title>Pokemon detail</h1>
<div mat-dialog-content>
  descrition
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>