
<div class="container">
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-card>
                <mat-card-content>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource">
                      
                          <!-- Position Column -->
                          <ng-container matColumnDef="Id">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element" (click)="openDialog('0ms', '0ms', element)"> {{element.id}} </td>
                          </ng-container>
                      
                          <!-- Name Column -->
                          <ng-container matColumnDef="Nombre">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element" (click)="openDialog('0ms', '0ms', element)"> {{element.name}} </td>
                          </ng-container>
                      
                      
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                      
                        <mat-paginator #paginator
                        [length]="totalData"
                        showFirstLastButtons
                                       aria-label="Select page of Pokemon">
                        </mat-paginator>
                      </div>
                      
                



                </mat-card-content>
            </mat-card>
        </div>
    </div>

    
</div>



  